.h1 {
   @include adaptiv-font(55, 40);
   font-weight: 500;
   line-height: 110%;
}

.h2 {
   @include adaptiv-font(40, 32);
   font-weight: 500;
   line-height: 110%;
}

.h3 {
   @include adaptiv-font(25, 18);
   font-weight: 500;
   line-height: 140%;
}

.h4 {
   @include adaptiv-font(20, 14);
   font-weight: 500;
   line-height: 140%;
}
