.welcome {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .banner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 585px;

      &_content {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         max-width: 380px;
      }
   }

   .slider {
      max-width: 410px;
      height: 500px;
      margin-right: 70px;
   }

   a {
      display: block;
      padding: 30px;
   }
}
