:root {
   /* Global colors */
   --color-first: #6e9c9f;
   --color-second: #f1eadc;
   --text-color-first: #000;
   --text-color-second: #6e9c9f;
   --text-color-third: #fff;
   --xs-viewport: 599px;
   --s-viewport: 767px;
   --m-viewport: 1023px;
}

html[data-theme='light'] {
   --color-first: #6e9c9f;
   --color-second: #f1eadc;
   --text-color-first: #000;
   --text-color-second: #6e9c9f;
   --text-color-third: #fff;
   --link-color: #6e9c9f;
   --link-color-hover: #509498;
   --background-color: #fff;
}

html[data-theme='dark'] {
   --color-first: #6e9c9f;
   --color-second: #f1eadc;
   --text-color-first: #000;
   --text-color-second: #6e9c9f;
   --text-color-third: #000;
   --link-color: #fff;
   --link-color-hover: #828fff;
   --background-color: #000;
}
